body {
    background-color: #1f2d3a;
    background-image: url("../img/dark-matter.png");
}



.ta {
	background-color:#ffc;
	border:1px solid orange;
	margin:0.5em 0;
	padding:0.5em;
	font-family:"Courier New", monospace;
	font-size:0.8rem;
}

.success {
	margin:0.5em 0;
	padding:0.2em;
	border-left:10px solid green;
	font-style:italic;
}
.error {
	margin:0.5em 0;
	padding:0.2em;
	border-left:10px solid red;
	font-weight:bold;
	color:red;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    min-width: 1000px;
    border-collapse: collapse;
}

td input {
    width: 100%;
    box-sizing: border-box;
}

.download-button {
    display: inline-block;
    padding: 0.6em 1em;
    background: #2d7dd2;
	margin: 10px 0;
    color: white;
	border: 1px solid #888;
    text-decoration: none;
    border-radius: 6px;
}

.main-nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
}

.tool-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    
}

.tool-card {
    background-color: rgba(255, 255, 255, 0.02);
    display: block;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tool-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.55);
}
.preview-card {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #555;
    border-radius: 8px;
}

.preview-card img {
    max-width: 800px;
    width: 100%;
    height: auto;
}
.about-section {
    background-color: rgba(255, 255, 255, 0.02);
    margin-top: 4rem;
    line-height: 1.6;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.tool-form {
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(27, 40, 53, 0.96);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.tool-form .action-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
